<div class="col-xs-12">
    <div class="row">
        <div class="col-md-12">
            <!--  <button type="button" class="btn pro-btn btn-lg btn-block" data-toggle="modal" data-target="#AddModal">Añadir elemento</button>  -->
        </div>
        <div class="btn-group btn-group-justified btn-radio-group" role="group">
            <a type="button" (click)="listEverything()" class="btn pro-btn btn-default btn-secondary animated ">Todos los tipos</a>
            <a type="button" (click)="listElementosbyTipo(true)" class="btn pro-btn btn-default btn-secondary animated ">series</a>
            <a type="button" (click)="listElementosbyTipo(false)" class="btn pro-btn btn-default btn-secondary animated ">Películas</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="input-group"> <!-- Queda por añadir esto -->
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" [(value)]="busq" placeholder="Filtrar por título"  class="form-control"/></div>
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" [(value)]="busq" placeholder="Filtrar por director" class="form-control"/></div>
        </div>
    </div>

    <div id="AddModal" class="modal modal-lg fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Añadir elemento</h4>
                </div>
                <div class="modal-body">
                    <p><label>Título:</label> <input [(value)]="elem.titulo" type="text"></p>
                    <p><label>Imagen:</label> <input [(value)]="elem.rutaIMG" type="text"></p>
                    <p><label>Descripción: </label></p> <p><input [(value)]="elem.sinopsis" type="text"></p>
                    <p><label>Tipo:</label></p>
                    <p><input type="checkbox" [(value)]="elem.esSerie"> <label>Serie</label></p>
                    <p><label>Nº de temporadas: </label> <input [(value)]="elem.temporadas" type="number"></p>
                    <p><label>Nº de capítulos en total: </label> <input type="number" [(value)]="elem.capitulos"></p>
                    <p><button (click)="anadirElemento(elem)"></button></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

                    <div class="row">
                        <!-- item  Lista libro -->
                        <table class="table">
                            <!-- Libro -->
                            <tr *ngFor="#serie of elems; #i = index">
                                <td class="col-xs-3">
                                <img class="center-block" src="http://lorempixel.com/150/200/sports" alt="" title=""/>
                                </td>
                                <td class="col-xs-9 pro-vcenter">
                                    <table>
                                        <tr>
                                            <td>
                                                <h3>{{serie.titulo}}</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="desc">{{serie.sinpsis}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-block pro-btn dropdown-toggle" data-toggle="dropdown">Añadir como <span class="caret"></span></button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Viendo</a></li>
                                                        <li><a href="#">Completo</a></li>
                                                    </ul>
                                                </div>
                                                <a href="itemDetails.html">
                                                  <button class="btn pro-btn" href="Libro.html">Más detalles</button>
                                                </a>
                                                <!-- <button (click)="listEliminarElemento(serie)" class="btn pro-btn">Eliminar</button> -->
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- Fin Libro -->
                        </table>
                        <!-- FIN Lista item libro -->

                    </div>

</div>
