<div class="row">
    <!-- item  Lista Actores -->
    <table class="table">
        <!-- Actor -->
        <tr template="ngFor #actor of lista; #i = index">
            <td class="col-xs-3">
                <img class="center-block img-responsive" [src]="IMG" alt="ImagenDelActor" title=""/>
            </td>
            <td class="col-xs-9 pro-vcenter">
                <table>
                    <tr>
                        <td>
                            <h3>{{actor.nombre}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="desc">{{actor.descrip}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn">Más detalles</button>
                            <!-- <button class="btn">Eliminar</button> -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- Fin Actor -->
    </table>
    <!-- FIN Lista item Actor -->
</div>