<div class="card hovercard">
    <div class="card-background">
        <img src="http://lorempixel.com/100/100/people/9/" alt="" class="card-bkimg">
        <!-- http://lorempixel.com/850/280/people/9/ -->
    </div>
    <div class="useravatar">
        <img src="http://lorempixel.com/100/100/people/4/" alt="">
    </div>
    <div class="card-info"> <span class="card-title"> -> Nombre de Usuario <- </span>

    </div>
</div>
<ul class="nav nav-pills pro-pills nav-justified nav-tabs-justified">
    <li class="active"><a href="#profile_Data" class="hvr-overline-reveal" data-toggle="tab">Datos Personales</a></li>
    <li><a href="#movie_List" class="hvr-overline-reveal" data-toggle="tab">Mis Peliculas</a></li>
    <li><a href="#chapter_List" class="hvr-overline-reveal" data-toggle="tab">Mis Series</a></li>
    <li><a href="#comments_List" class="hvr-overline-reveal" data-toggle="tab">Mis valoraciones</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="profile_Data">
        <h1>Datos Personales</h1>
        <form>
            <div class="form-group col-xs-6">
                <label for="profile_name">Nombre:</label>
                <input type="text" class="form-control" id="profile_name">
            </div>
            <div class="form-group col-xs-6">
                <label for="profile_firstname">Apellidos:</label>
                <input type="text" class="form-control" id="profile_firstname">
            </div>
            <div class="form-group col-xs-6">
                <label for="pro_password">Contraseña:</label>
                <input type="text" class="form-control" id="pro_password">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 40%">
                        <span class="sr-only">35% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 40%">
                        <span class="sr-only">20% Complete (warning)</span>
                    </div>
                    <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 20%">
                        <span class="sr-only">10% Complete (danger)</span>
                    </div>
                </div>

            </div>
            <div class="form-group col-xs-6">
                <label for="pro_passwordRep">Repita Contraseña:</label>
                <input type="text" class="form-control" id="pro_passwordRep">
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-6">
                <label for="profile_email">Correo:</label>
                <input type="email" class="form-control" id="profile_email">
            </div>
            <div class="form-group col-xs-6">
                <label for="profile_emailRep">Repita Correo:</label>
                <input type="email" class="form-control" id="profile_emailRep">
            </div>
            <div class="form-group col-xs-6">
                <label class="control-label">Buscar archivo</label>
                <input id="input-1" type="file" class="file">
            </div>
        </form>
    </div>
    <div class="tab-pane" id="movie_List">
        <h1>Mis Peliculas</h1>
        <table class="table">
            <!-- Libro -->
            <tr>
                <td class="col-xs-3">
                    <img class="center-block" src="http://lorempixel.com/150/200/sports" alt="" title=""/>
                </td>
                <td class="col-xs-9 pro-vcenter">
                    <table>
                        <tr>
                            <td>
                                <h3>Architecture</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="desc">Architecture is both the process and product of planning, designing and construction. Architectural works, in the material form of buildings, are often perceived as cultural symbols and as works of art. Historical civilizations are often identified with their surviving architectural achievements.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-block btn-info dropdown-toggle" data-toggle="dropdown">Viendo <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Viendo</a></li>
                                        <li><a href="#">Completo</a></li>
                                    </ul>
                                </div>
                                <button class="btn btn-danger" href="Libro.html">Eliminar de la lista</button>
                                <a href="itemDetails.html">
                                    <button class="btn pro-btn" href="Libro.html">Más detalles</button>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Fin Libro -->
            <tr>
                <td class="col-xs-3">
                    <img class="center-block" src="http://lorempixel.com/150/200/sports" alt="" title=""/>
                </td>
                <td class="col-xs-9 pro-vcenter">
                    <table>
                        <tr>
                            <td>
                                <h3>Architecture</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="desc">Architecture is both the process and product of planning, designing and construction. Architectural works, in the material form of buildings, are often perceived as cultural symbols and as works of art. Historical civilizations are often identified with their surviving architectural achievements.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-block btn-success dropdown-toggle" data-toggle="dropdown">Completo <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Viendo</a></li>
                                        <li><a href="#">Completo</a></li>
                                    </ul>
                                </div>
                                <button class="btn btn-danger" href="Libro.html">Eliminar de la lista</button>
                                <button class="btn pro-btn" href="Libro.html">Más detalles</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="tab-pane" id="chapter_List">
        <h1>Mis Series</h1>
        <table class="table">
            <!-- Libro -->
            <tr>
                <td class="col-xs-3">
                    <img class="center-block" src="http://lorempixel.com/150/200/sports" alt="" title=""/>
                </td>
                <td class="col-xs-9 pro-vcenter">
                    <table>
                        <tr>
                            <td>
                                <h3>Architecture</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="desc">Architecture is both the process and product of planning, designing and construction. Architectural works, in the material form of buildings, are often perceived as cultural symbols and as works of art. Historical civilizations are often identified with their surviving architectural achievements.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-block btn-info dropdown-toggle" data-toggle="dropdown">Viendo <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Viendo</a></li>
                                        <li><a href="#">Completo</a></li>
                                    </ul>
                                </div>
                                <button class="btn btn-danger" href="Libro.html">Eliminar de la lista</button>
                                <a href="itemDetails.html">
                                    <button class="btn pro-btn" href="Libro.html">Más detalles</button>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" >
                    <a href="javascript:;" data-toggle="collapse" data-target="#sshows" class="form-control col-xs-12"><i class="icon-tv"></i> Temporadas <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="sshows" class="collapse">
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#season_1" class="form-control col-xs-12"><i class="icon-tv"></i> Temporada 1 <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="season_1" class="collapse">
                                <li><a href="itemDetails.html">1</a></li>
                                <li><a href="itemDetails.html">1</a></li>
                                <li><a href="itemDetails.html">1</a></li>
                                <li><a href="itemDetails.html">1</a></li>
                                <li><a href="itemDetails.html">1</a></li>
                                <li><a href="itemDetails.html">1</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#season_2" class="form-control col-xs-12"><i class="icon-tv"></i> Temporada 2 <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="season_2" class="collapse">
                                <li><a href="itemDetails.html">1</a></li>
                                <li><a href="itemDetails.html">1</a></li>
                                <li><a href="itemDetails.html">1</a></li>
                                <li><a href="itemDetails.html">1</a></li>
                                <li><a href="itemDetails.html">1</a></li>
                                <li><a href="itemDetails.html">1</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>

            </tr>
            <!-- Fin Libro -->
            <tr>
                <td class="col-xs-3">
                    <img class="center-block" src="http://lorempixel.com/150/200/sports" alt="" title=""/>
                </td>
                <td class="col-xs-9 pro-vcenter">
                    <table>
                        <tr>
                            <td>
                                <h3>Architecture</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="desc">Architecture is both the process and product of planning, designing and construction. Architectural works, in the material form of buildings, are often perceived as cultural symbols and as works of art. Historical civilizations are often identified with their surviving architectural achievements.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-block btn-success dropdown-toggle" data-toggle="dropdown">Completo <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Viendo</a></li>
                                        <li><a href="#">Completo</a></li>
                                    </ul>
                                </div>
                                <button class="btn btn-danger" href="Libro.html">Eliminar de la lista</button>
                                <button class="btn pro-btn" href="Libro.html">Más detalles</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="tab-pane" id="comments_List">
        <h1>Mis Comentarios</h1>
        <div class="col-xs-12">
            <div class="row">

                <div class="col-xs-2 pro-vcenter">
                    <img src="http://lorempixel.com/400/200/people/1" class="img-responsive img-circle pro-img-mini-circle center-block">
                </div>
                <div class="col-xs-9 pro-vcenter">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4><a href="itemDetails.html"> Nombre Pelicula Comentada </a></h4>
                        </div>
                        <div class="col-xs-6 col">
                            <h4>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Titulo Valoracion</h4>
                        </div>
                    </div>
                </div>


                <div class="col-xs-2">
                </div>
                <div class=" col-xs-9">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas velit mi, consectetur eget metus vitae, vulputate molestie orci. Ut pretium mollis molestie. Duis ac enim dapibus, imperdiet odio id, interdum diam. Quisque pharetra tortor non quam finibus porta. Maecenas et tellus lectus. Vivamus iaculis vitae sapien quis pulvinar. Aliquam tellus neque, sodales eget facilisis sed, gravida a velit.
                </div>

            </div>
            <div class="row">

                <div class="col-xs-2 pro-vcenter">
                    <img src="http://lorempixel.com/400/200/people/2" class="img-responsive img-circle pro-img-mini-circle center-block">
                </div>
                <div class="col-xs-9 pro-vcenter">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4><a href="itemDetails.html"> Nombre Pelicula Comentada </a></h4>
                        </div>
                        <div class="col-xs-6 col">
                            <h4 class="pro-yellow-stars">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Titulo Valoracion</h4>
                        </div>
                    </div>
                </div>


                <div class="col-xs-2">
                </div>
                <div class=" col-xs-9">
                    Donec sed purus id lorem sollicitudin dapibus feugiat eget diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse quis purus nec massa tincidunt faucibus sit amet ut dui. Sed dignissim velit eu lorem porttitor, eget commodo ipsum sodales. Praesent pharetra pretium leo nec cursus. Quisque sagittis felis augue, non ultrices magna egestas id. Pellentesque convallis a felis ultrices auctor. Nunc sed ultricies dolor. Aliquam et tincidunt massa.
                </div>

            </div>

        </div>
    </div>
</div>
