<div class="card hovercard">
    <div class="card-background">
        <img [src]="'/assets/images/profile/'+_servicioUsuario.userLogged?.avatar" alt="" class="card-bkimg">
        <!-- http://lorempixel.com/850/280/people/9/ -->
    </div>
    <div class="useravatar">
        <img [src]="'/assets/images/profile/'+_servicioUsuario.userLogged?.avatar" alt="">
    </div>
    <div class="card-info"> <span class="card-title"> {{_servicioUsuario.userLogged?.user_Name}} </span>

    </div>
</div>
<ul class="nav nav-pills pro-pills nav-justified nav-tabs-justified">
    <li class="active"><a href="#" [routerLink]="['./Usuario']" class="hvr-overline-reveal">Datos Personales</a></li>
    <li><a  href="#" class="hvr-overline-reveal" data-toggle="tab">Mis Peliculas</a></li>
    <li><a href="#" class="hvr-overline-reveal" data-toggle="tab">Mis Series</a></li>
    <li><a href="#" class="hvr-overline-reveal" data-toggle="tab">Mis valoraciones</a></li>
</ul>

<router-outlet></router-outlet>