<div class="col-md-12">
    <button type="button" class="btn pro-btn btn-lg btn-block" data-toggle="modal" data-target="#AddModal">Añadir elemento</button>
</div>
<hr>
<div id="AddModal" class="modal modal-lg fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Añadir elemento</h4>
            </div>
            <div class="modal-body">
                <p><label>Nombre:</label> <input [(ngModel)]="nuevoActor.nombre" type="text"></p>
                <p><label>Imagen:</label> <input type="file"></p>
                <p><label>Descripción: </label><input [(ngModel)]="nuevoActor.descrip" type="text"></p>
                <p><label>Ha participado en (Separa por comas):</label> <input [(ngModel)]="obras" type="text"></p>
                <p><button (click)="anadirActor()" class="btn pro-btn btn-block">Crear</button></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <!-- item  Lista Actores -->
    <table class="table">
        <!-- Actor -->
        <tr template="ngFor #actor of lista; #i = index">
            <td class="col-xs-3">
                <img class="center-block img-responsive" [src]="IMG" alt="ImagenDelActor" title=""/>
            </td>
            <td class="col-xs-9 pro-vcenter">
                <table>
                    <tr>
                        <td>
                            <h3>{{actor.nombre}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="desc">{{actor.descrip}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button (click)="eliminarActor(actor)" class="btn pro-btn">Eliminar</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- Fin Actor -->
    </table>
    <!-- FIN Lista item Actor -->
</div>