<tr>
    <td class="col-xs-3">
        <img class="center-block" [src]="'/assets/images/proyec/'+(peliInfo.image!=''?peliInfo.image:'noportada.png')" alt="" title=""/>
    </td>
    <td class="col-xs-9 pro-vcenter">
        <table>
            <tr>
                <td>
                    <h3>{{peliInfo.title}}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="desc"> {{peliInfo.description}} </p>
                </td>
            </tr>
            <tr>
                <td>

                    <div class="btn-group">
                        <button type="button" class="btn btn-block pro-btn dropdown-toggle" data-toggle="dropdown">Añadir como <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Viendo</a></li>
                            <li><a href="#">Completo</a></li>
                        </ul>
                    </div>
                    <a href="itemDetails.html">
                        <button class="btn pro-btn" href="Libro.html">Más detalles</button>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>