<div class="row">
    <!-- item  Lista libro -->
    <table class="table">
        <!-- Libro -->
        <tr template="ngFor #serie of lista; #i = index"><div template="ngIf serie.esSerie == true">
            <td class="col-xs-3">
                <img class="center-block img-responsive" src="#" alt="ImagenDeLaSerie"/>
            </td>
            <td class="col-xs-9 pro-vcenter">
                <table>
                    <tr>
                        <td>
                            <h3>{{serie.titulo}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="desc">{{serie.sinopsis}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-block pro-btn dropdown-toggle" data-toggle="dropdown">Añadir como <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Viendo</a></li>
                                    <li><a href="#">Completo</a></li>
                                </ul>
                            </div>
                            <button (click)="onSelect(serie)" class="btn pro-btn">Más detalles</button>
                            <!-- <button class="btn">Eliminar</button> -->
                        </td>
                    </tr>
                </table>
            </td></div>
        </tr>
        <!-- Fin Libro -->
    </table>
    <!-- FIN Lista item libro -->
</div>