<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" [(ngModel)]="busq" placeholder="Filtrar por nombre"  class="form-control"/></div>
        </div>
        <div class="col-xs-2">
            <button (click)="filtrarPorNombre()" class="btn pro-btn btn-block">Filtrar</button>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <!-- item  Lista libro -->
    <table class="table">
        <!-- Libro -->
        <tr template="ngFor #actor of lista; #i = index">
            <td class="col-xs-3">
                <img class="center-block img-responsive" src="{{actor.img}}" alt="ImagenDelActor"/>
            </td>
            <td class="col-xs-9 pro-vcenter">
                <table>
                    <tr>
                        <td>
                            <h3>{{actor.nombre}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="desc">{{actor.descripcion}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn pro-btn">Más detalles</button>
                            <!-- <button class="btn">Eliminar</button> -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- Fin Libro -->
    </table>
    <!-- FIN Lista item libro -->
</div>